
* {
    box-sizing: border-box;
    margin: 0px;
}

header h4 {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-family: lato;
}

.contenedor {
    width: 80%;
    max-width: 1800px;
    margin: 30px auto;
}
#card1 {
    background-image: url(./img/dog02.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
    background-position: center center;
    border-radius: 10px;
}
.card-oculto {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.8s ease 0s;
}
.card-titulo {
    display: flex;
    align-content: space-around;
    padding: 20px 10px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(transparent, rgb(14, 13, 13));
}
.card-titulo p {
    color: white;
    font-family: lato;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-link {
    margin-left: 20px;
    background-color: rgb(232, 232, 232);
    padding: 5px;
    border-radius: 5px;
    transition: all 1s ease 0s;
}
#card2 {
    margin-top: 40px;
    background-image: url(./img/dog01.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
    background-position: center center;
    border-radius: 30px;
}
.card-oculto {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.8s ease 0s;
}
.card-titulo {
    display: flex;
    align-content: space-around;
    padding: 20px 10px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(transparent, rgb(14, 13, 13));
}
.card-titulo p {
    color: white;
    font-family: lato;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-link {
    margin-left: 20px;
    background-color: rgb(232, 232, 232);
    padding: 5px;
    border-radius: 5px;
    transition: all 1s ease 0s;
}
