* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: violet;
    width: 100%;
    height: 70px;
}
main {
    height: calc(900px - 70px);

    background-color: yellowgreen;
}
main>aside {
    width: 20%;
    float: left;
    height: 100%;
}
.izquierda{
    /* width: 20%; */
    background-color: tomato;
    /* float: left; */
}
.derecha{
    /* width: 20%; */
    background-color: teal;
}
section{
    width: 60%;
    height: 100%;
    float: left;
}
.fix {
    clear: both;
}